@import "~@angular/material/theming";
@import "angular-material-color-palette";

// custom main theme
$main-primary: mat-palette($mat-main-violet, 500, A100, A700);
$main-accent: mat-palette($mat-main-blue, 500, A100, A700);
$main-warning: mat-palette($mat-red, A200, A100, A700);
